.task {
  margin: 1rem;
  padding: 1rem;
  background-color: #17161a;
  box-shadow: 0 2px 8px rgba(238, 207, 207, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.task h2 {
  font-size: 2rem;
  color: #cda47b;
}

.task h3 {
  color: #bbab78;
  margin: 0;
  font-size: 1rem;
}
